@tailwind base;

@tailwind components;

@tailwind utilities;

.bgImage{
    background-image: url(./assets//weatherApi/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    object-fit: cover;
}
.skyImage{
    background-image: url(./assets//weatherApi/sky.png);
    background-repeat: repeat;
    background-size: cover;
    object-fit: fill;
}

.fondo_Dash{
    background-image: url(./assets//weatherApi/bg_dash.jpg);
    background-repeat: repeat;
    background-size: cover;
    object-fit: fill;
}